.navbar {
  width: 100%;
  position: relative;
  background-color: #6896bc;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  color: black;
  padding: 0px 15px;
}

.navbar-title {
  display: flex;
  justify-content: center;
  font-size: 4rem;
font-weight: 200;
  margin: 5px;
}

.back-button {
  position: absolute;
  left: 80px;
  top: 35%;
}
